body{
    margin-left: 60px;

}
.montserrat-alternates-medium{
    width: 50%;
font-size: 14px;
font-style: italic;
font-weight: 500;
line-height: 17.07px;
text-align: left;
 color: #4F4F4F;

}
.montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
.cake{
    width: 100%;
    height: 50%;
    display: grid;
    
}
.cake{
    Width:969px;
Height:444px;

Radius:12px;
}
.ingrid{
    font-family: Playfair Display;
font-size: 24px;
font-weight: 700;
line-height: 31.99px;
text-align: left;

}

.playfair-display-unique {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.playfair-display-unique {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    
  }
 
 .tikbox{
    display: flex;
    flex-direction: row;
    color: black;
    font-style: normal;
    
 }

 .montserrat-unique {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: bold;
   font-style: normal;
   color: black;
 }
 .tikbox-lite{
    font-style: italic;
    font-weight: 580;
 }
 .yield{
    display: flex;
    text-align: center;
    float: left top;
    color: #F2994A;
 }
 .playfair-display-unique{
  grid-area: ingredients;
 }
 .graham{
  grid-area: graham;
 }
 .tik-wala-gula{
  grid-area: tik-wala-gula ;
 }
 .right-side {
  float: top right;
  margin-left: 200px; /* Adjust as needed */
  width: 200px; /* Adjust as needed */
  grid-area: right-side;
  background: #FFFFFF;
  box-shadow: 20% gray;
  border-radius: 30px;
  padding: 30px;

}
.cheese{
  grid-area: cheese;
}
 .should-be-half {
  display: grid;
  
  grid-template-areas: 
  "ingredients     right-side"
  "graham          right-side"
  "tik-wala-gula       right-side"
  "cheese              right-side";
  
 
}
.last-p {
  margin-bottom:10px;
}
.number-1, .number-2 , .number-3{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  width:25px;
  height:25px;
  border-radius:20%;
  background-color:#F2994A;
  color:#fff;
}
.last-para{
  width: 50%;

}
.montserrat-alternates-700{
    width: 50%;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
 color: #000000;
 margin-top: 40px;
 font-family: "Montserrat Alternates", sans-serif;

}
.crust,.filling,.bath{
  width: 50%;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  text-align: left;
   color: #000000;
}
